*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  user-select: none;
}

body {
  font-size: 1.6em;
  font-family: sans-serif;
}

.header {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
  padding: 0 2rem;
  min-height: 8rem;
  background-color: rgba(255, 255, 255, 0.85);
  color: #3d535f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 800px) {
  .header {
    padding: 0 5rem;
  }
}
.header__heading {
  transition: 0.3s;
}
.header__heading:hover {
  transform: scale(1.05);
}

.dot {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  margin-left: 0.5rem;
  background: linear-gradient(60deg, #7f00ff, #ff00ff);
}

.nav {
  display: none;
}
@media (min-width: 1200px) {
  .nav {
    display: flex;
    justify-content: space-between;
    min-width: 45rem;
  }
}
.nav__link {
  font-size: 2rem;
  font-weight: 600;
  transition: 0.4s;
  border-bottom: 0.2rem solid transparent;
}
.nav__link:hover {
  color: #7f00ff;
  border-bottom: 0.2rem solid #7f00ff;
}

.social {
  display: none;
}
@media (min-width: 1200px) {
  .social {
    display: flex;
    justify-content: space-between;
    width: 25rem;
  }
}
.social__link {
  height: 3rem;
  width: 3rem;
  transition: transform 0.2s ease-in-out;
}
.social__link:hover {
  transform: scale(1.1);
}

.shapes {
  border-radius: 50%;
  position: absolute;
}

.shape-1 {
  height: 25rem;
  width: 25rem;
  background: linear-gradient(60deg, #7f00ff 20%, #ff00ff);
  top: 50%;
  left: -3%;
  box-shadow: rgba(127, 0, 255, 0.4) 0px 5px, rgba(127, 0, 255, 0.3) 0px 10px, rgba(127, 0, 255, 0.2) 0px 15px, rgba(127, 0, 255, 0.1) 0px 20px, rgba(127, 0, 255, 0.05) 0px 25px;
}

.shape-2 {
  height: 12rem;
  width: 12rem;
  background: linear-gradient(120deg, #7f00ff 20%, #ff00ff);
  top: 30%;
  right: 7%;
  animation: animateShape-2 5s linear infinite;
}

@keyframes animateShape-2 {
  0% {
    top: 30%;
    right: 7%;
  }
  30% {
    top: 15%;
    right: 10%;
  }
  80% {
    top: 40%;
    right: 30%;
  }
}
.nav-slider {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8rem 5rem 0;
  transform: translateX(-100%);
  opacity: 0;
  color: #fff;
  transition: transform 0.4s cubic-bezier(0.73, 0.11, 0.67, 0.84), opacity 0.4s ease-out;
  background: linear-gradient(60deg, #7f00ff, #ff00ff);
}
@media (min-width: 1200px) {
  .nav-slider {
    display: none;
  }
}
.nav-slider.active {
  transform: translateX(0);
  opacity: 1;
}
.nav-slider__img {
  border-radius: 5px;
}
.nav-slider__p {
  margin: 1.6rem 0;
  font-size: 2rem;
  border-bottom: #fff 0.2rem solid;
  padding-bottom: 1.6rem;
}
.nav-slider__link {
  font-size: 2.8rem;
  font-weight: 700;
  margin: 1.6rem 0;
  transition: all 0.4s;
}
.nav-slider__link:hover {
  padding-left: 2rem;
}

.btn-toggle {
  position: relative;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  background: linear-gradient(60deg, #7f00ff, #ff00ff);
  cursor: pointer;
  transition: transform 0.3s;
}
@media (min-width: 1200px) {
  .btn-toggle {
    display: none;
  }
}
.btn-toggle__line {
  position: absolute;
  display: block;
  width: 75%;
  height: 0.3rem;
  background: white;
  transition: transform 0.3s ease-out, opacity 0.1s ease-out;
}
.btn-toggle .l1 {
  transform: translateY(-1rem);
}
.btn-toggle .l3 {
  transform: translateY(1rem);
}
.btn-toggle.active .l1 {
  transform: translateY(0) rotate(135deg);
}
.btn-toggle.active .l2 {
  opacity: 0;
}
.btn-toggle.active .l3 {
  transform: translateY(0) rotate(-135deg);
}

.intro {
  position: relative;
  margin: 0 5%;
  max-width: 80rem;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}
.intro__topline {
  display: block;
  position: relative;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  color: #3d535f;
}
.intro__topline::after {
  position: absolute;
  content: "";
  height: 0.4rem;
  width: 4.5rem;
  bottom: 40%;
  background-color: #7f00ff;
}
.intro__heading {
  font-size: 5rem;
  font-weight: 900;
  color: #3d535f;
}
.intro__heading span {
  color: #7f00ff;
}
.intro__p {
  font-size: 1.8rem;
  color: #3d535f;
}
.intro__btn {
  margin-top: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: #fff;
  background-color: #3d535f;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  letter-spacing: 0.2rem;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}
.intro__btn:hover {
  background-color: #7f00ff;
}

.sections {
  min-height: 100vh;
  position: relative;
}

.section-1 {
  background-color: white;
  padding-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-2 {
  background-color: #f2e6ff;
}

.section-3 {
  background-color: #e5ccff;
}

.section-4 {
  background-color: #d9b3ff;
}

/*# sourceMappingURL=style.css.map */
