.reveal {
    transition: all 1.2s ease-out;
    opacity: 0;
    transform: translateX(-250px);

    @include desktop {
        transform: scale(0);
    }

    &.reveal-visible {
        opacity: 1;
        transform: translateX(0);

        @include desktop {
            transform: scale(1);
        }
    }
}

.reveal-up {
    transition: all 1s ease-out;
    opacity: 0;
    transform: translateY(50px);

    @include desktop {
        transform: scale(0);
    }

    &.reveal-visible {
        opacity: 1;
        transform: translateY(0);

        @include desktop {
            transform: scale(1);
        }
    }
}