html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    user-select: none;
}

body {
    font-size: 1.6em;
    font-family: sans-serif;
    color: $cl-tertiary;
}

.section {
    position: relative;
    @include center;
    min-height: 90vh;
}

h3 {
    position: relative;
    font-size: 2.8rem;
    letter-spacing: 0.3rem;
    font-weight: normal;
    text-align: left;
    margin-bottom: 3rem;
    text-shadow: 1px 1px 2px $cl-white, 2px 2px 2px $cl-white;

    &::before {
        content: "« ";
        color: $cl-primary;
    }

    &::after {
        content: " »";
        color: $cl-primary;
    }
}