html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    user-select: none;
}

body {
    font-size: 1.6em;
    font-family: sans-serif;
    color: $cl-tertiary;

    &.dark {
        color: #f1f1f1;
        background-color: $cl-black;
    }
}

.section {
    position: relative;
    @include center;
    min-height: 90vh;
    padding: 0 5%;
}

.card {
    border-radius: $border-rad;
    background-color: rgba($cl-white, 0.8);
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    &.dark {
        background-color: rgba($cl-white, 0.1);
    }
}

h1 {
    font-size: clamp(2.2rem, 7vw, 3rem);
}

h3 {
    position: relative;
    font-size: 2.6rem;
    margin: 2rem 0;
    letter-spacing: 0.3rem;
    font-weight: normal;
    text-align: left;
    text-shadow: 1px 1px 2px $cl-white, 2px 2px 2px $cl-white;

    &.dark {
        text-shadow: none;
    }

    &::before {
        content: "« ";
        color: $cl-primary;
    }

    &::after {
        content: " »";
        color: $cl-primary;
    }
}

img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    border-radius: $border-rad;
}

.mentions {
    max-width: 80rem;
    margin-top: 15rem;
}