.shapes {
    border-radius: 50%;
    position: absolute;
}

.shape-1 {
    height: 25rem;
    width: 25rem;
    background: $cl-gradient, rgba(black, 1);
    top: 50%;
    left: -3%;
    box-shadow: rgba($cl-primary, 0.4) 0px 10px, rgba($cl-primary, 0.3) 0px 20px, rgba($cl-primary, 0.2) 0px 30px, rgba($cl-primary, 0.1) 0px 40px, rgba($cl-primary, 0.05) 0px 50px;
}

.shape-2 {
    height: 12rem;
    width: 12rem;
    background: $cl-gradient, rgba(black, 1);
    top: 12%;
    right: 10%;

    &.active-shape {
        animation: animateShape-2 6s linear infinite;
    }
}

@keyframes animateShape-2 {
    0% {
        top: 12%;
        right: 10%;
    }

    35% {
        top: 50%;
        right: 30%;
    }

    70% {
        top: 30%;
        right: 2%;
    }
}