.skill {
    max-width: 80rem;
    padding-bottom: 2rem;

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;

        @include desktop {
            justify-content: flex-start;
        }
    }

    .card__skill {
        display: flex;
        align-items: center;
        transition: 0.4s;

        &:hover {
            background-color: rgba($cl-primary, 0.7);
            color: $cl-white;
            transform: rotate(7deg);
        }

        img {
            width: 5rem;
            height: 5rem;
            margin-right: 1rem;
        }

        span {
            font-weight: bold;
        }
    }
}