.intro {
    position: relative;
    max-width: 80rem;
    margin: 8rem auto -5rem;
    padding: 2rem;
    box-shadow: none;

    &__topline {
        position: relative;
        font-size: 3rem;
        letter-spacing: 0.4rem;

        &::after {
            content: "";
            position: absolute;
            height: 0.4rem;
            width: 4rem;
            bottom: 0.8rem;
            background-color: $cl-primary;
        }
    }

    &__heading {
        font-size: 3rem;
        font-weight: 900;
        margin: 2rem 0;

        @media (min-width:370px) {
            font-size: 3.5rem;
        }

        @media (min-width:410px) {
            font-size: 4rem;
        }

        @include mobile-L {
            br {
                display: none;
            }
        }

        @include tablette {
            font-size: 5.5rem;
        }

        span {
            background: $cl-gradient, rgba(0, 0, 0, 0.8);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__p {
        font-size: 1.8rem;

        @include desktop {
            font-size: 2rem;
        }
    }

    &__container {
        margin-top: 2rem;

        @include mobile-L {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .social {
        @include desktop-L {
            display: none;
        }
    }

    .btn {
        margin-top: 2rem;

        @include mobile-L {
            margin-top: 0;
        }
    }
}