.big-card {
    margin-top: 10rem;
    max-width: 60rem;
    padding: 1.5rem;

    @include desktop {
        max-width: 120rem;
        padding: 2rem;
        display: grid;
        grid-template-columns: 3fr 4fr;
        grid-template-rows: auto auto auto;
        column-gap: 5rem;
    }

    &__img {
        grid-column: 1/2;
        height: 18rem;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
        transition: 0.4s;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__heading {
        font-size: 3.5rem;
        margin: 1rem 0 0;

        @include desktop {
            margin: 0;
        }
    }

    &__content {
        line-height: 2.5rem;
        grid-column: 2/3;
        grid-row: 1/4;
    }

    .btns {
        margin: auto;
        display: flex;
        justify-content: space-between;
        max-width: 32rem;
    }

    .lighthouse {
        &__content {
            @include mobile-L {
                display: flex;
                gap: 2rem;

                div {
                    width: 50%;
                }
            }
        }
    }

    .skill {
        padding-bottom: 0;
    }
}