.intro {
    position: relative;
    z-index: 5;
    width: 90%;
    max-width: 80rem;
    margin: 8rem auto -5rem;
    padding: 2rem;
    background-color: rgba($cl-white, 0.8);
    border-radius: $border-rad;

    &__topline {
        position: relative;
        font-size: 3rem;
        letter-spacing: 0.4rem;

        &::after {
            content: "";
            position: absolute;
            height: 0.4rem;
            width: 4rem;
            bottom: 0.8rem;
            background-color: $cl-primary;
        }
    }

    &__heading {
        font-size: 4rem;
        font-weight: 900;
        height: 12rem;

        @include mobile-L {
            height: auto;
        }

        @include tablette {
            font-size: 6rem;
        }

        span {
            background: $cl-gradient, rgba(0, 0, 0, 0.6);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__p {
        font-size: 1.8rem;

        @include desktop {
            font-size: 2rem;
        }
    }

    &__btn {
        display: block;
        width: fit-content;
        margin-top: 2rem;
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 2rem;
        color: $cl-white;
        background-color: $cl-tertiary;
        padding: 1rem 1.5rem;
        border-radius: $border-rad;
        letter-spacing: 0.2rem;
        box-shadow: 0 15px 10px rgba(#000000, 0.4);

        &:hover {
            background: $cl-gradient, rgba(0, 0, 0, 0.9);
        }
    }
}