.skill {
    position: relative;
    max-width: 80rem;

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include desktop {
            justify-content: flex-start;
        }

        gap: 2rem;
    }

    &__card {
        display: flex;
        align-items: center;
        transition: 0.4s;
        cursor: pointer;

        &:hover {
            transform: rotate(7deg);
            background-color: rgba($cl-primary, 0.6);
            color: $cl-white;
        }
    }

    &__img {
        width: 5rem;
        height: 5rem;
        margin-right: 1rem;
    }

    &__txt {
        font-weight: bold;
    }
}