$cl-white: #fff;
$cl-black: #000;

$cl-primary: #202cd9d1;
$cl-secondary: #4fa9b7;
$cl-tertiary: #3d535f;

$cl-gradient: linear-gradient(to left bottom, #6f00fa4d, #6632fc47, #6049fb7d, #5d5af996, #5e68f6bf, #3f77f796, #1e83f48a, #008dee6b, #0098e494, #00a0d69e, #19a6c68a, #4faab7b8);

$border-rad: 5px;