.big-card {
    margin-top: 10rem;
    margin-bottom: 2rem;
    max-width: 120rem;
    padding: 1.5rem;

    @include desktop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__site {
        width: 35%;
        height: fit-content;


    }

    &__img {
        height: 18rem;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
        transition: 0.4s;

        @include desktop {
            height: 25rem;
        }

        &:hover {
            transform: scale(1.05);
        }
    }

    &__heading {
        font-size: 3.5rem;
        padding: 2rem 0;

        @include desktop {
            padding: 0 0 1.5rem;
        }
    }

    &__content {
        @include desktop {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .btns {
        margin: auto;
        display: flex;
        justify-content: space-between;
        max-width: 32rem;

        @include desktop {
            margin: 0;
        }
    }

    .lighthouse {
        @include desktop {
            width: 60%;
            order: 5;
        }

        &__content {
            @include mobile-L {
                display: flex;
                gap: 2rem;
            }
        }
    }

    .skill {
        padding-bottom: 0;

        @include desktop {
            width: 35%;
        }
    }
}